<%- include("partials/headerPT") %>
<div class="fade-in container">
<div class="row">
<div class="about1 mr-auto col-lg-4">
	<h1>QUEM SOMOS?</h1>
	<p>Bem vindo ao Red Alert Studio!</p> 
	<p>Aqui disponibilizamos aos nossos clientes sessões de gravação à distância de um clique.</p>
	<p>O nosso propósito é gravar faixas de bateria para as tuas músicas, no entanto, também temos várias parcerias com músicos profissionais de forma a gravar qualquer instrumento que precises.</p>
</div>
	
<div class="about1 ml-auto col-lg-4">
	<h1>COMO FUNCIONA?</h1>
			<p>1. Basta ires a "Contratar" , preencheres o formulário com a tua música anexada e uma descrição breve sobre o que queres.
			<p>2. Depois irás receber um e-mail de confirmação com toda a informação necessária assim como o tempo estimado até receberes a tua faixa de bateria. Começamos a trabalhar na tua faixa logo que possível.</p>
			<p>3. Assim que a tua faixa é gravada, enviamos-te um exemplo em formato mp3 de forma a debater quaisquer mudanças que possas querer. Após discutir os detalhes preparamos a faixa em stereo para ser enviada.</p>
			<p>4. Assim que o pagamento é confirmado, as faixas são então enviadas para ti num formato à tua escolha. </p>
		</div>
	</div>
</div>
	
<div class="fade-in about2 container">
<div class="center col-lg-12">
<p>
<h1>INFORMAÇÕES DE PAGAMENTO:</h1>
<p>Aqui na RedAlert usamos o seguinte modelo de pagamento:</p>
<p>1. Quando fazes upload da tua música tens que pagar metade do valor adiantado, de forma a começarmos a trabalhar na tua faixa.</p>
<p>2. Assim que as faixas estão preparadas para entrega, és notificado para pagar a metade restante. Após confirmação do pagamento dessa metade, as faixas são então enviadas.</p>
	</div>
</div>


<%- include("partials/footerPT") %>
