<%- include("partials/headerPT") %>
 <div class="fade-in jumbotron">
    <div class="container">
      <h1 class="display-3">BEM VINDO À RED ALERT STUDIO</h1>
      <p>Obtém a tua faixa de bateria com o Kae Santos à distância de um clique!</p>
	  <p>Kae Santos: Baterista Profissional - Touring & Gravações</p>
		 <div class="container">
	<hr>
	 <div class="container">
				 
</div>
	<hr>			 
	 <!-- Example row of columns -->
	<div class="container">  
    <div class="row">
      <div class="col-md-4">
        <h2>SOBRE A RED ALERT STUDIO</h2>
        <p>Aprende a nossa história.</p>
        <p><a class="landing btn btn-outline-danger" href="/aboutPT" role="button">Ver detalhes &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>MEDIA</h2>
        <p>Vê alguns dos nossos vídeos e ouve algumas das nossas músicas.</p>
        <p><a class="landing btn btn-outline-danger" href="/mediaPT" role="button">Ver detalhes &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>CONTRATA A RED ALERT STUDIO</h2>
		  <p>Contrata os nossos serviços para teres uma faixa de bateria para a tua música!</p>
        <p><a class="landing btn btn-outline-danger" href="/servicesPT" role="button">Ver detalhes &raquo;</a></p>
      </div>
    </div>

    

<%- include("partials/footerPT") %>
