<%- include("partials/headerPT") %>

<hr id="mediahr">
<h1 class="fade-in contactformheader text-center">OBRIGADO POR ESCOLHERES A NOSSA MARCA.</h1>
<p class="fade-in contactformheader text-center">Entraremos em contacto contigo assim que possível.</p>
<p class="fade-in contactformheader text-center">Podes proceder à tua compra preenchendo o formulário em baixo.</p>
<hr id="mediahr">


<div class="fade-in serviceform text-center container form-group">
	<form method ="POST" action = "/payment">
	<h1 class="fade-in contactformheader text-center">COMPRA DE FAIXA DE BATERIA RED ALERT STUDIO</h1>
	<p class=" text-center">LEMBRA-TE, o método de pagamento que se segue é so para FAIXAS DE BATERIA. Para requerer outros instrumentos, por favor contacta-nos ao clicar em "Contacto & Suporte".</p>
	<p class=" text-center">PREÇO: 50 € </p>
	<p class=" text-center">O preço referido em cima é apenas a<em>primeira metade</em> do valor.</p>
	<p class=" text-center">Por favor confirma a tua comprar ao clicar no botão em baixo.</p>
	<p class=" text-center">Serás então redireccionado para a página do paypal para completar o teu pagamento.</p>
	<div class="text-center">
		<button type="submit" class="btn btn-outline-danger">Confirmar a tua compra</button>		
	</div>
	</form>




<div class ="fade-in contactformheader text-center">
	<a class="anchor" href="https://www.facebook.com/Kaedrum"><i class="fab fa-facebook-square"></i></a><a class="anchor" href="https://www.instagram.com/kaedrums/"><i class="fab fa-instagram"></i></a>
<p>Facebook  | | Instagram  </p>
</div>
	

<%- include("partials/footerPT") %>
