<%- include("partials/headerPT") %>
<hr id="mediahr">
<h1 class="fade-in contactformheader text-center">OBRIGADO POR ESCOLHERES A NOSSA MARCA.</h1>
<p class="fade-in contactformheader text-center">Iremos começar a trabalhar na tua faixa assim que possível.</p>
<hr id="mediahr">


<div class ="fade-in contactformheader text-center">
	<a class="anchor" href="https://www.facebook.com/Kaedrum"><i class="fab fa-facebook-square"></i></a><a class="anchor" href="https://www.instagram.com/kaedrums/"><i class="fab fa-instagram"></i></a>
<p>Facebook  | | Instagram  </p>
</div>
	

<%- include("partials/footerPT") %>