<%- include("partials/header") %>
<div class="fade-in container">
<div class="row">
<div class="about1 mr-auto col-lg-4">
	<h1>WHO ARE WE?</h1>
	<p>Welcome to Red Alert Studio!</p> 
	<p>Here we offer our clients recording sessions at the distance of a click.</p>
	<p>Our main purpouse is to record Drum Tracks for your songs, but we also have partnerships with several 				professional musicians to record any instrument that you need.</p>
</div>
	
<div class="about1 ml-auto col-lg-4">
	<h1>HOW DOES IT WORK?</h1>
			<p>1. Just go to "Hire our services", fill all your information, upload the song you want us to record and describe what you want the best you can.
			<p>2. You will then receive a confirmation e-mail with all the information you need including the estimated time to get your tracks and we'll start working on your song as soon as we can.</p>
			<p>3. As soon as your song is recorded, we will send you an example in a raw mp3 file to discuss any 					changes you may want to the session. Once all details are discussed we will prepare the stereo track 				and the stems to be delivered.</p>
			<p>4. After payment confirmation, all tracks will be sent to you on the format you choose. </p>
		</div>
	</div>
</div>
	
<div class="fade-in about2 container">
<div class="center col-lg-12">
<p>
<h1>PAYMENT INFO:</h1>
<p>Here at RedAlert we use the following payment system:</p>
<p>1. When you upload your song, and for us to start working hardly, you have to pay half the price of your session upfront.</p>
<p>2. As soon as the tracks are ready for delivery, you will be notified to pay the other half. After we confirm payment the tracks will then be sent.</p>
	</div>
</div>


<%- include("partials/footer") %>
