<%- include("partials/header") %>
<hr id="mediahr">
<h1 class="fade-in contactformheader text-center">CONTACT RED ALERT STUDIO OR KAE SANTOS</h1>
<hr id="mediahr">

<div class="fade-in serviceform text-center container form-group">
	<form method ="POST" action = "/contact">
	<p class=" text-center">Touring | Recording | Online sessions | Any other question</p>
	<input type="email" name="email" class="contactform" placeholder=" E-mail" required>
    <input type="text" name="subject" class="contactform" placeholder=" Subject" required>
    <input type="text" name="name" class="contactform" placeholder=" First and last name" required>
    <input type="text" name="track" class="contactform" placeholder=" Track Name" required>
	<input type="text" name="instrument" class="contactform" placeholder="  Different instrument track">
    <input type="number" name="number" class="contactform" placeholder=" +351919999999" required>
    <textarea class="contactformtext" name="message" placeholder=" Write your message here." rows="3" required></textarea>
	<div class="text-center">
		<button type="submit" class="btn btn-outline-danger">Contact</button>		
	</div>
	</form>
<div class ="text-center">
	<a class="anchor" href="https://www.facebook.com/Kaedrum"><i class="fab fa-facebook-square"></i></a><a class="anchor" href="https://www.instagram.com/kaedrums/"><i class="fab fa-instagram"></i></a>
<p>Facebook  | | Instagram  </p>
</div>
	

<%- include("partials/footer") %>
