<%- include("partials/header") %>
 <div class="fade-in jumbotron">
    <div class="container">
      <h1 class="display-3">WELCOME TO RED ALERT STUDIO</h1>
      <p>Get your Drum Track with Kae Santos at the distance of a click!</p>
	  <p>Kae Santos: Professional Touring & Recording Drummer</p>
		 <div class="container">
	<hr>
	 <div class="container">
				 
</div>
	<hr>			 
	 <!-- Example row of columns -->
	<div class="container">  
    <div class="row">
      <div class="col-md-4">
        <h2>ABOUT RED ALERT STUDIO</h2>
        <p>Learn about our history.</p>
        <p><a class="landing btn btn-outline-danger" href="/about" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>MEDIA</h2>
        <p>See a few of our videos and songs.</p>
        <p><a class="landing btn btn-outline-danger" href="/media" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>HIRE RED ALERT STUDIO</h2>
        <p>Hire our services and get an awesome drum track for your song!</p>
        <p><a class="landing btn btn-outline-danger" href="/services" role="button">View details &raquo;</a></p>
      </div>
    </div>

    

<%- include("partials/footer") %>
