<%- include("partials/header") %>

<div class="fade-in container">
<hr id="mediahr">
<h1 class="media2 text-center">VIDEO CONTENT</h1>
</div>

<div class="fade-in container">
<hr id="mediahr">	
</div>

<div class ="fade-in media container">
	<iframe id="youtube"  class="video" height="600" src="https://www.youtube.com/embed/2SvtsnZmvlQ?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>		</iframe>	
</div>

<div class="videopadding">
	
</div>

<div class ="fade-in media container">
	<iframe id="youtube"  class="video" height="600" src="https://www.youtube.com/embed/2SvtsnZmvlQ?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>		</iframe>	
</div>

<div class="fade-in container">
<hr id="mediahr">	
<h1 class="media2 text-center">AUDIO CONTENT</h1>
</div>	


<div class ="fade-in container">
	
<iframe id="spotify" src="https://open.spotify.com/embed?uri=spotify%3Aplaylist%3A3IUgYBtVtr2IyYjyobB8S4" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe> 
</div>


<div class="fade-in container">
<hr id="mediahr">	
<h1 class="media2 text-center">IMAGE GALLERY</h1>
</div>	

<div class="fade-in container">
  <div class="row">
    <div class="col-sm">
      <a href="https://i.ibb.co/tsHrgbm/20191025-133726.jpg"><img class="gallery" src ="https://i.ibb.co/tsHrgbm/20191025-133726.jpg"></a> 
    </div>
    <div class="col-sm">
<a href="https://i.ibb.co/6RgGkW7/20191025-134111.jpg"><img class="gallery" src ="https://i.ibb.co/6RgGkW7/20191025-134111.jpg"></a>
    </div>
    <div class="col-sm">
<a href="https://i.ibb.co/KK6gYfZ/20191025-133745.jpg"><img class="gallery" src ="https://i.ibb.co/KK6gYfZ/20191025-133745.jpg"></a>
    </div>
  </div>
</div>
<div class="fade-in container">
  <div class="row">
    <div class="col-sm">
      <a href="https://i.ibb.co/0nKZp2r/20191025-134155.jpg"><img class="gallery" src ="https://i.ibb.co/0nKZp2r/20191025-134155.jpg"></a>
    </div>
    <div class="col-sm">
<a href="https://i.ibb.co/MZ07xYY/20191025-134147.jpg"><img class="gallery" src ="https://i.ibb.co/MZ07xYY/20191025-134147.jpg"></a> 
    </div>
    <div class="col-sm">
<a href="https://i.ibb.co/TqLH1pq/20191025-134123.jpg"><img  class="gallery" src ="https://i.ibb.co/TqLH1pq/20191025-134123.jpg"></a>
    </div>
  </div>
</div>




	






<%- include("partials/footer") %>
