<%- include("partials/header") %>
<hr id="mediahr">
<h1 class="fade-in contactformheader text-center">THANK YOU FOR CHOOSING OUR BRAND.</h1>
<p class="fade-in contactformheader text-center">We will start working on your track as soon as possible.</p>
<hr id="mediahr">


<div class ="fade-in contactformheader text-center">
	<a class="anchor" href="https://www.facebook.com/Kaedrum"><i class="fab fa-facebook-square"></i></a><a class="anchor" href="https://www.instagram.com/kaedrums/"><i class="fab fa-instagram"></i></a>
<p>Facebook  | | Instagram  </p>
</div>
	

<%- include("partials/footer") %>