<%- include("partials/header") %>
<hr id="mediahr">
<h1 class="fade-in contactformheader text-center">YOUR PAYMENT HAS BEEN CANCELED.</h1>
<p class="fade-in contactformheader text-center">We're sorry you changed your mind, maybe we can help? Try "Contact & Support".</p>
<hr id="mediahr">


<div class ="fade-in contactformheader text-center">
	<a class="anchor" href="https://www.facebook.com/Kaedrum"><i class="fab fa-facebook-square"></i></a><a class="anchor" href="https://www.instagram.com/kaedrums/"><i class="fab fa-instagram"></i></a>
<p>Facebook  | | Instagram  </p>
</div>
	

<%- include("partials/footer") %>